/* Write your CSS code in this file */
body{
    justify-items: center;
    background-color:rgba(24, 24, 24, 0.6)
}
.mainDiv{
    justify-items: center;
    background-color: aqua;
    border-radius: 5px;
    border-width: 9px;
    border-style: outset;
    border-color: black;
    /* height: 100%;*/
    width: 90%;

}

.myGussingGame {
  font-size: 52px;
  font-weight: bold;

}
.button{
    display: flex;
    gap: 10px;
}

.buttonSec{
    
    margin: 5px;
    height: 100%;
    width: 50%;
    background-color: rgb(255, 61, 100);
    border-radius: 5px;
    border-color: black;
}


.butnn{
    margin-bottom: 90px;
}