/* Write your CSS code in this file */
body{
    justify-items: center;
    background-color:rgba(24, 24, 24, 0.6)
}
.mainDiv{
    justify-items: center;
    background-color: aqua;
    border-radius: 5px;
    border-width: 9px;
    border-style: outset;
    border-color: black;
    /* height: 100%;*/
    width: 90%;

}

.myGussingGame {
  font-size: 52px;
  font-weight: bold;

}

.buttonSec{
    margin: 5px;
}

.buttonSeca{
    margin-bottom: 30px;
}
.butnn{
    margin-bottom: 30px;
}